.product {
    display: flex;
    flex-direction: column;
    flex: 1 0 21%;
    margin: 6px;
    padding: 14px;
    align-items: center;
    justify-content: center;
}

.productImage {
    width: 80%;
}

.productImage :global(img) {
    width: 100%;
    height: auto;
}

.productTitle {
    font-size: 15px;
}