.order :global(svg) {
    color: #e1e0df;
    font-size: 35px;
    margin-right: 5px;
    cursor: pointer;
}

/* XS */
@media only screen and (max-width: 600px) {
    .order {
        margin-bottom: 35px;
    }
}

/* SM */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .order {
        margin-bottom: 35px;
    }
}

/* MD */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .order {
        margin-bottom: 35px;
    }
}

